{% extends 'baseLogged.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block breadcrumb %}
    {% include 'breadcrumb.html.twig' with {'modulos': data.modulo} %}
{% endblock %}

{% block principal %}

    <form action="{% if data.permissao.permissao > 1 %}{% if data.registro.id is defined and data.registro.id != null %}/{{data.modulo.url}}/edit {% else %} /{{data.modulo.url}}/add {% endif %} {% else %} javascript:void(0); {% endif %}" method="post" role="form" class="form-usuario">

           
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Defeito</h4>
            </div>
            <div class="card-body">

                <input type="hidden" name="voltar" value="{{data.voltar}}">

                {% if data.registro.id is defined %}
                    <input type="hidden" name="id" value="{{data.registro.id}}">
                    <input type="hidden" name="_METHOD" value="PUT"/>
                {% endif %}

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Código*</label>
                            <input type="text" name="cod_defeito" class="form-control" placeholder="Informe o código" value="{% if data.registro.cod_defeito is defined %}{{data.registro.cod_defeito}}{% endif %}" required="required" autofocus>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="form-group">
                            <label>Descrição*</label>
                            <input type="text" name="descricao" class="form-control" placeholder="Informe a descrição" value="{% if data.registro.descricao is defined %}{{data.registro.descricao}}{% endif %}" required="required">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Situação*</label>
                            <select name="situacao" class="form-control" required="required">
                                <option value="1" {% if data.registro.situacao is defined and data.registro.situacao == '1' %} selected="selected" {% endif %}>Ativo</option>
                                <option value="0" {% if data.registro.situacao is defined and data.registro.situacao == '0' %} selected="selected" {% endif %}>Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body" style="margin-top: -20px;">
            <div class="row">
                <div class="col-lg-12">
                    {% if data.permissao.permissao > 1 %}
                        <button type="submit" class="btn btn-success btn-submit" data-loading-text="Aguarde...">
                            <i class="fa fa-check"></i>{% if data.registro.id is defined %} Editar {% else %} Adicionar {% endif %}
                        </button>
                    {% endif %}
                    <a href="{{data.voltar}}" class="btn btn-inverse waves-effect waves-light">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
