{% extends 'baseLogged.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block breadcrumb %}
    {% include 'breadcrumb.html.twig' with {'modulos': data.modulo} %}
{% endblock %}

{% block principal %}

    <form action="{% if data.permissao.permissao > 1 %} /{{data.modulo.url}} {% else %} javascript:void(0); {% endif %}" method="post" role="form" class="form-usuario">


        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Veículos</h4>
            </div>
            <div class="card-body">

                <input type="hidden" name="voltar" value="{{data.voltar}}">

                {% if data.registro.id is defined %}
                    <input type="hidden" name="id" value="{{data.registro.id}}">
                    <input type="hidden" name="_METHOD" value="PUT"/>
                {% endif %}

                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Placa*</label>
                            <input type="text"
                                   name="placa"
                                   class="form-control"
                                   placeholder="Informe a Placa"
                                   value="{% if data.registro.placa is defined %}{{data.registro.placa}}{% endif %}"
                                   required
                                   autofocus
                                   maxlength="10"
                                   />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Status*</label>
                            <select name="situacao" class="form-control" required>
                                <option value="1" {% if data.registro.situacao is defined and data.registro.situacao == '1' %} selected="selected" {% endif %}>Ativo</option>
                                <option value="0" {% if data.registro.situacao is defined and data.registro.situacao == '0' %} selected="selected" {% endif %}>Inativo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Marca*</label>
                            <input type="text"
                                   name="marca"
                                   class="form-control"
                                   placeholder="Informe a Marca"
                                   value="{% if data.registro.marca is defined %}{{data.registro.marca}}{% endif %}"
                                   required
                                   autofocus
                                   maxlength="40"
                                   />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Modelo*</label>
                            <input type="text"
                                   name="modelo"
                                   class="form-control"
                                   placeholder="Informe o Modelo"
                                   value="{% if data.registro.modelo is defined %}{{data.registro.modelo}}{% endif %}"
                                   required
                                   autofocus
                                   maxlength="40"
                                   />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Controle de Quilometragem*</label>
                            <select name="controle_km" class="form-control" required>
                                <option value="1" {% if data.registro.controle_km is defined and data.registro.controle_km == '1'%} selected="selected" {% endif %}>Sim</option>
                                <option value="0" {% if data.registro.controle_km is defined and data.registro.controle_km == '0'%} selected="selected" {% endif %}>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Quilometragem Atual</label>
                            <input type="text"
                                   name="km_atual"
                                   class="form-control"
                                   placeholder="Informe a Quilometragem Atual"
                                   value="{% if data.registro.km_atual is defined %}{{data.registro.km_atual}}{% endif %}"
                                   autofocus
                                   maxlength="40"
                                   />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card card-body" style="margin-top: -20px;">
            <div class="row">
                <div class="col-lg-12">
                    {% if data.permissao.permissao > 1 %}
                        <button type="submit" class="btn btn-success btn-submit" data-loading-text="Aguarde...">
                            <i class="fa fa-check"></i>{% if data.registro.id is defined %} Editar {% else %} Adicionar {% endif %}
                        </button>
                    {% endif %}
                    <a href="{{data.voltar}}" class="btn btn-inverse waves-effect waves-light">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
